* {
    font-family: "Lucida Grande",Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 3px;
}

.ttsCont {
    width: 50%;
    height: 400px;
    float: left;
    padding: 20px;
}

.ttsCont p {
    font-weight: bold;
}

.ttsCont li {
    list-style: none;
}

.ttsCont table {
    text-align: center;
    margin: auto;
}

.ttsCont td {
    border: 1px solid black;
    width: 40px;
    height: 30px;
    margin: 0.5px;
}

.ttsCont .block {
    background-color: black;
}

.ttsCont .num {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    float: left;
}

.ttsCont .answer {
    margin: 0px;
    padding: 0px;
}

.ansCont {
    border-top: 1px solid grey;
    display: inline-block;
    width: 100%;
}

.ansCont #soal {
    width: 110px;
    height: 22px;
}

.content {
    width: 1170px;
    text-align: center;
    margin: auto;
}